{% extends "base_delivery.html" %}
{% block content %}
    <body>
        <div class="jumbotron text-center" style="margin-bottom:0;background-color:#232F3E;color:#ffffff;">
            <h1>AmazEats</h1>
            <p style="color:#ffa000;">The Food You Like !!</p>
        </div>
            <div class="container" style="margin-top:30px">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card text-center mb-5">
                            <div class="card-body">
                                <img class="border border-warning" src="https://getdrawings.com/free-icon/facebook-female-profile-icon-56.png" style="height:150;width:150;border-radius:50%;margin:10"/>
                                <h5 class="card-title">Susmith@</h5>
                                <p class="card-text">Hyderabad</p>
                                <a href="#" style="background-color:#ffa000;color:#ffffff;" class="btn">Edit Profile</a>
                            </div>
                        </div>

                        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="text-color:#131A22">
                            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Orders</a>
                            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Your Favourites</a>
                            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Ratings and reviews</a>

                        </div>
                        <hr class="d-sm-none">
                    </div>
                    <div class="col-sm-8">
                        <h3> Order History </h3>
                        {% for item in obj %}
                            <div class="card m-5 text-white mx-auto" style="width: 800px;background-color:#232F3E"  >
                                <div class="card-header">
                                    <span><h3> Order Number : {{ item.order_id }} </h3></span>
                                    {% if item.status == "Delivered" %}
                                         <span><a href="#" style="background-color:#FF9900" class="btn btn-info float-right ml-2">Rate</a></span>
                                    {% else %}
                                        <span class="float-right">{{item.status}}</span>
                                    {% endif %}
                                </div>
                                <div class="card-body" style="background-color:#ffffff;color:#131A22;">
                                <!--<h5 class="card-title">Order Number : {{ item.order_id }}</h5>-->
                                    <h6>Restaurant name</h6>
                                    <h6>Pick Adddress</h6>
                                    <h6>Drop Address</h6>
                                    <p class="card-text">Total Amount : {{item.amount}}</p>
                                    <h5 class="card-title">Items Ordered </h5>
                                    <ul>
                                        {% for m_obj in item.order_set.all %}
                                            <li> {{m_obj.quantity}} x {{m_obj.item_name}} </li>
                                        {% endfor %}
                                    </ul>
                                    <span class="card-text">Ordered On : {{ item.order_date }} </span>
                                    {% if item.status == "Delivered" %}
                                    <span><a href="/food/reorder/{{ item.order_id }}" style="background-color:#FF9900" class="btn btn-info float-right">Reorder</a></span>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                        <div class="pagination justify-content-center mb-5">
                            {% if values.has_previous %}
                                <a class="pagination-action" href="?page=1"><i class="fas fa-angle-double-left"></i></a>
                                <a class="pagination-action" href="?page={{ values.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                            {% endif %}

                            {% for num in values.paginator.page_range %}
                                {% if values.number == num %}
                                    <span class="pagination-number pagination-current">{{ num }}</span>&nbsp;
                                {% elif num > values.number|add:'-3' and num < values.number|add:'3' %}
                                    <a class="pagination-number" href="?page={{ num }}">{{ num }}</a>&nbsp;
                                {% endif %}
                            {% endfor %}
                            {% if values.has_next %}
                            <a class="pagination-action" href="?page={{ values.next_page_number }}"><i class="fas fa-angle-double-right"></i></a>
                            <a class="pagination-action" href="?page={{ values.paginator.num_pages }}"><i class=""fas fa-angle-right></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron text-center" style="margin-bottom:0">
            <p>By Me</p>
        </div>
    </body>
{% endblock content %}
