<!DOCTYPE html>

{%  extends 'base.html' %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>restaurant</title>

</head>
<body>
<style>
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
/* .col-10 {
height: 90vh;
overflow-y: scroll;
} */

</style>

<!-- for customer display -->

<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand">Restaurants</a>
  <form class="form-inline" action='/search' method = 'get'>
    <input class="form-control mr-sm-2" type="search" name='q'  placeholder="Search" aria-label="Search">
    <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>
</br>


<div class = "container" style="padding-left: 10px; padding-right: 10px;">

<div class="row row-cols-1 row-cols-md-4"  >
{% for r in restaurants %}

      <div class="col mb-4" >
      <div class="card text-white bg-secondary mb-3" style="width: 17rem;padding-left: 30px; padding-right: 30px;">
        <!-- <image src="{{ f.image.url }}" class="card-img-top" alt="{{ f.food_name }}" /> -->
        <div class="card-body" >
          <h2 class="card-title">{{ r.name }}</h2>
          <table class="card-table table table-sm text-white table-borderless">
    <tbody>
      <tr>
        <td>{{ r.address }}</td>
        <td>{{ r.cuisines }}</td>
      </tr>
      <tr>
        <td>{{ r.contact_no }}</td>
        <td>{{ r.avg_cost_for_a_person }}</td>
      </tr>
      <tr>
        <td>{{ r.is_delivering_now }}</td>
      </tr>
    </tbody>
  </table>

    </div>
    </div>
  </div>

  <!-- <div class="modal fade" id="exampleModalScrollable{{f.food_name}}" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Reviews</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form method ='post' action='input_reviews/{{ review.0.food_id.food_id }}'>
            {% csrf_token %}
              <input type='text' name='reviews' placeholder = 'your reviews'/>
              <input type='submit' class="btn btn-primary btn-sm" name='Submit'/>
          </form>
        </br>
          {{ f.food_name }}
          <p>
          {% for r in f.rating_set.all %}
            {{ r.user_id }} : {{ r.reviews }}<br/>
          {% endfor %}
        </p>
        </div>

      </div>
    </div>
  </div> -->


{% endfor %}

</div>
</div>



</body>
</html>

{% endblock %}

<!--
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodItems</title>

</head>
<body>

<h1 class="text-center">Restaurants Page</h1>
</br>

<div class="row row-cols-1 row-cols-md-4" style="padding : 10px;">
      {% for r in restaurants %}

      <div class="col mb-4">
        <a href="/display_fooditems/{{ r.id }}" class="btn btn-fix text-left">
      <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
        <image src="{{ f.image.url }}" class="card-img-top" alt="{{ f.food_name }}" width="250px" heigth="250px" />
        <div class="card-body" >
          <h2 class="card-title">{{ r.name }}</h2>
          <table class="card-table table table-sm text-white table-borderless">
    <tbody>
      <tr>
        <td>{{ r.address }}</td>
        <td>{{ r.cuisines }}</td>
      </tr>
      <tr>
        <td>{{ r.contact_no }}</td>
        <td>{{ r.avg_cost_for_a_person }}</td>
      </tr>
      <tr>
        <td>{{ r.is_delivering_now }}</td>
      </tr>

    </tbody>
  </table>


    </div>
    </div>
  </div>
            {% endfor %}
  </div>

</body>
</html>

 -->
