
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FoodItems</title>

</head>
<body>
<h1>Catalogue Page</h1>

{% for f in food %}

      <image src="{{ f.image.url }}" alt="{{ f.food_name }}" width="250px" height="250px"/><br/>
      {{ f.food_name }}<br/>
      {{ f.price }}<br/>
      {{ f.veg }}<br/>
      {{ f.cuisine_type }}<br/>
      {{ f.serviceable }}<br/>
      <br/>
            <a href="/update_price/{{ f.food_id }}"><span class="glyphicon glyphicon-pencil" >update price</span></a> <br/>
            <a href="/update_acceptable/{{ f.food_id }}"><span class="glyphicon glyphicon-pencil" >update Acceptable</span></a> <br/>
            <a href="/delete/{{ f.food_id }}">Delete</a><br/>

            <br/>
            <br/>
      {% endfor %}

<a href="/add">Add FoodItems</a>
</body>
</html>
