{% extends 'index.html' %}

{% block content %}
	<h1> Login </h1>
	<form method="POST">
    {% csrf_token %}
		<table>
			<tr>
				<td><label for="username">Username</label></td>
				<td><input type="text" name="username" id="username" required></td>
			</tr>
			<tr>
				<td><label for="password">Password</label></td>
				<td><input type="password" name="password" id="password" required></td>
			</tr>
			<p style="color: red;">{{error}}</p>
		</table>
		<button type="Login">Login</button>
	</form>

{% endblock content%}
